<h1>Listing events</h1>

<table>
  <tr>
    <th>Event number</th>
    <th>Event datetime</th>
    <th>Event type</th>
    <th>Event place</th>
    <th>Event message state</th>
    <th>Event received by</th>
    <th>Event received at</th>
    <th>Event acknowledged by</th>
    <th>Event acknowledged at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.event_number %></td>
    <td><%= event.event_datetime %></td>
    <td><%= event.event_type %></td>
    <td><%= event.event_place %></td>
    <td><%= event.event_message_state %></td>
    <td><%= event.event_received_by %></td>
    <td><%= event.event_received_at %></td>
    <td><%= event.event_acknowledged_by %></td>
    <td><%= event.event_acknowledged_at %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
